.container {
    display: flex;
    margin: 15px 45px 0px 0px;
}

.container:first-child {
    margin-left: 217px;
}

.select {
    margin: 0px 45px 0px 0px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    width: 136px;
    height: 34px;
}

.label {
    padding: 0px 0px 0px 0px;
    margin: 0px 1000px 110px 110px
}