@import '../../styles/variables.scss';

.Home {
    background-color: rgba(244, 170, 57, 1);
    flex-grow: 1;
    display: flex;

}

.container {
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 0px;
    
}

.wrapper {
    display: flex;
    align-items: stretch;
}

.wrapper2 {
    margin-left: 33px;
    
}

.button {
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    font-size: 16pt;
    font-weight: 700;
    box-shadow: 0 6px 15px 0 rgba(255, 255, 255, 0.45), 0 4px 15px 0 rgba(255, 255, 255, 0.45);
    transition: all 0.3s ease 0s;
    margin-bottom: 15px;
}

.button:hover {
    box-shadow: 0 6px 20px 0 rgba(255, 255, 255, 0.55), 0 4px 20px 0 rgba(255, 255, 255, 0.55);
    transform: translateY(-5px);
}

.button:active {
    transform: translateY(2px);
    background-color: rgb(238, 238, 238);
    color: rgb(27, 27, 27);
}

.h1 {
    font-weight: 800;
    color: rgb(255, 255, 255);
    font-size: 36pt;
    //text-align:start;
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
}

.h2 {
    font-weight: 500;
    font-size: 16pt;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
}

.pic {
    margin-left: -20px;
    svg {
        width: 512px;
        height: 512px;
    }
}

.link {
    font-weight: 500;
    color:rgb(255, 255, 255);
    text-align:center;
    text-decoration: none;
    
}